.h1__title {
  color: #04BF37;
  font-size: 50px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: capitalize; }

.link {
  color: #FCFEFD;
  text-decoration: none;
  font-size: 22px;
  padding: 30px; }

.icon {
  display: block;
  height: 35px;
  width: 35px;
  cursor: pointer;
  padding: 10px;
  background: #0B0C0C;
  border: 1px solid white; }

.hamburgerLine {
  width: 35px;
  height: 5px;
  background-color: #FCFEFD;
  margin: 56px 0; }

.boutton {
  border: 0;
  border-radius: 7px;
  background: #04BF37;
  padding: 10px;
  color: #FCFEFD;
  font-size: 17px; }
  .boutton:hover {
    background: #1CA6E1; }

.circleImageContainer {
  display: block;
  border-radius: 50%;
  background: #0B0C0C; }

.iconCircle {
  border-radius: 50%; }
  .iconCircle .icon {
    display: block;
    height: 35px;
    width: 35px;
    cursor: pointer;
    padding: 10px;
    background: #0B0C0C;
    border: 1px solid white; }

.image {
  display: block;
  background: #0B0C0C; }

.imageCircle {
  display: block;
  border-radius: 50%;
  background: #04BF37; }

.line {
  display: block;
  float: left;
  margin: 0 auto;
  height: 500px;
  width: 2px;
  background: #0B0C0C; }

.inputText {
  border: 0;
  border-bottom: 2px solid #04BF37;
  margin: 15px auto; }
  .inputText:focus {
    outline: 0;
    border-bottom: 2px solid #1CA6E1; }

.textArea {
  border: 0;
  margin: 7px auto;
  border-bottom: 2px solid #04BF37; }
  .textArea:focus {
    outline: 0;
    background-color: rgba(0, 255, 0, 0.3);
    border-bottom: 2px solid #1CA6E1; }

.labelText {
  font-size: 22px;
  text-align: justify; }

.pText {
  text-align: justify;
  font-size: 22px; }

.hMenu {
  overflow: hidden;
  background: #0B0C0C;
  display: inline-block;
  top: 0;
  left: 0;
  margin: 0 auto; }
  .hMenu .hamburgerMenu, .hMenu label, .hMenu #hamburger {
    display: none; }
  .hMenu .flexContainer {
    display: block; }
  @media screen and (max-width: 768px) {
    .hMenu .flexContainer .link {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid #04BF37; }
    .hMenu label, .hMenu .hamburgerMenu {
      display: inline-block;
      font-style: normal;
      padding: 15px; }
    .hMenu .flexContainer .link {
      display: none; }
    .hMenu input[type="checkbox"]:checked ~ .flexContainer .link {
      display: inline-block; } }
  @media screen and (max-width: 820px) {
    .hMenu .flexContainer .link {
      display: block;
      width: 100%;
      font-size: 18px;
      padding-top: 5px;
      padding-bottom: 5px; }
    .hMenu label, .hMenu .hamburgerMenu {
      display: inline-block;
      font-style: normal;
      padding: 15px; }
    .hMenu .flexContainer .link {
      display: none; }
    .hMenu input[type="checkbox"]:checked ~ .flexContainer .link {
      display: inline-block; } }

.hamburgerMenu {
  position: relative;
  color: #FCFEFD;
  padding: 15px;
  top: 0;
  background: #0B0C0C; }
  .hamburgerMenu:hover {
    background: #04BF37; }

.link {
  color: #FCFEFD;
  text-decoration: none;
  font-size: 22px;
  padding: 30px; }

.flexContainer {
  display: inline-block; }
  .flexContainer .link {
    display: inline-block;
    padding: 30px;
    color: white;
    width: auto; }
    .flexContainer .link:hover {
      background: #04BF37;
      color: white; }

.imageResBlock {
  display: block;
  border: 2px solid #04BF37;
  padding: 10px;
  height: 400px;
  width: 500px;
  margin-top: 0px; }
  .imageResBlock .image {
    position: relative;
    height: 100%;
    width: 100%;
    display: block; }
  @media only screen and (max-width: 480px) {
    .imageResBlock {
      width: 100%;
      height: 300px;
      padding: 0;
      border: none;
      left: 0; } }

.responsiveText {
  display: block;
  border: 2px solid #04BF37;
  padding: 10px;
  height: auto;
  width: 500px;
  margin: 0 auto; }
  .responsiveText .pText {
    display: block;
    height: 100%;
    width: 100%;
    position: relative; }
  @media only screen and (max-width: 480px) {
    .responsiveText {
      width: 100%;
      height: 300px;
      padding: 0;
      margin: 0;
      border: none;
      left: 0; }
      .responsiveText .pText {
        font-size: 16px; } }

.slider-container {
  height: 450px;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  border: 1px solid black; }
  .slider-container .theSlide {
    display: block;
    position: relative;
    width: 50%;
    height: 400px;
    margin-left: 25%; }
    .slider-container .theSlide .image {
      position: relative;
      height: 100%;
      width: 100%;
      display: block; }
  .slider-container .bull_cont {
    display: inline-block;
    position: relative;
    padding: 10px;
    width: 100%;
    text-align: center; }
  .slider-container .active {
    background: #717171; }
  @media only screen and (max-width: 480px) {
    .slider-container {
      height: 250px; }
      .slider-container .theSlide {
        height: 200px; }
      .slider-container .bull_cont {
        position: relative;
        width: 100%;
        text-align: center; } }

.theSlide {
  display: block;
  overflow: hidden; }
  .theSlide .link {
    color: #FCFEFD;
    font-size: 20px;
    padding: 15px;
    background: rgba(11, 12, 12, 0.4);
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    bottom: 0; }

.dot {
  height: 25px;
  width: 25px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.pageFooter {
  margin: 0;
  margin-top: 10px;
  bottom: 0;
  right: 0;
  padding-top: 85px;
  padding-bottom: 85px;
  width: 100%;
  height: auto;
  position: relative;
  background: #0B0C0C; }
  .pageFooter code {
    margin-top: 70px;
    bottom: 0;
    display: block;
    width: 100%;
    text-align: center;
    color: #FCFEFD; }
  .pageFooter .iconCont {
    background: inherit;
    display: inline-block;
    margin-top: 20px;
    margin-top: 20px;
    width: 100%;
    color: #FCFEFD;
    font-weight: bold;
    font-size: 20px; }
    .pageFooter .iconCont a {
      text-decoration: none;
      color: #FCFEFD; }
    .pageFooter .iconCont .icon {
      display: inline-block;
      border-color: #FCFEFD; }
  .pageFooter .hLine {
    display: block;
    margin-top: 10px;
    width: 80%;
    height: 1px;
    margin-left: 10%; }
  @media only screen and (max-width: 480px) {
    .pageFooter .iconCont {
      font-size: 15px; } }

.titlePresent {
  display: block;
  width: 100%;
  float: left;
  margin: 0 auto;
  padding: 0;
  background: #04BF37;
  color: white;
  text-align: center; }
  .titlePresent .h1__title {
    text-align: center;
    text-transform: uppercase;
    color: #FCFEFD; }
  .titlePresent .pText {
    text-align: center; }
  @media only screen and (max-width: 480px) {
    .titlePresent .h1__title {
      font-size: 22px; }
    .titlePresent .pText {
      font-size: 16px; } }

.entete {
  display: block;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  background: #0B0C0C;
  z-index: 100; }
  .entete a {
    text-decoration: none; }
  .entete .icon {
    display: inline-block;
    background: #04BF37;
    border: 0;
    margin: 0 auto;
    position: relative;
    width: 60px;
    margin-left: 30px;
    height: 100%;
    border-radius: 50%; }
  .entete .hMenu {
    display: inline-block;
    height: 100%; }
    .entete .hMenu .hamburgerMenu, .entete .hMenu #hambuger {
      right: 0; }
  @media only screen and (max-width: 820px) {
    .entete .icon {
      display: none; } }

.sliderSection {
  display: block;
  width: 80%;
  margin-left: 10%;
  height: auto;
  left: 0;
  margin: 100px auto;
  border: 2px solid #04BF37;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 480px) {
    .sliderSection {
      width: 100%; }
      .sliderSection .slider-container {
        display: block;
        width: 100%; } }

.imageTextSection {
  display: inline-block;
  width: 100%;
  height: 450px;
  margin: 10px auto;
  margin-bottom: 10px;
  padding-top: 20px;
  position: relative;
  text-align: center; }
  .imageTextSection .imageResBlock {
    display: block;
    margin: 0 auto;
    float: left;
    border: none; }
  .imageTextSection .line {
    display: block;
    margin-left: 50px;
    margin-top: 2.5%;
    height: 80%;
    background: #1CA6E1;
    float: left; }
  .imageTextSection .responsiveText {
    margin: 0 auto;
    margin-left: 50px;
    display: block;
    float: left;
    border: none; }
  @media only screen and (max-width: 480px) {
    .imageTextSection .line {
      display: none; }
    .imageTextSection .responsiveText {
      margin: 0;
      padding: 0;
      text-align: center;
      display: block;
      width: 100%;
      height: auto; } }
  @media only screen and (max-width: 720px) {
    .imageTextSection {
      height: auto; }
      .imageTextSection .line {
        display: none; }
      .imageTextSection .imageResBlock {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0; }
      .imageTextSection .responsiveText {
        display: block;
        width: 90%;
        margin: 0;
        padding-left: 20px;
        text-align: center; } }

.hLine {
  display: block;
  background: #FCFEFD; }

.iconCont {
  display: block;
  background: #04BF37;
  text-align: center; }
  .iconCont .icon {
    display: inline-block;
    border-radius: 50%;
    background: #FCFEFD; }

.boutton__download {
  border: 0;
  border-radius: 7px;
  background: #0B0C0C;
  padding: 10px;
  color: #FCFEFD;
  font-size: 17px; }
  .boutton__download:hover {
    background: #1CA6E1; }

body {
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0; }
  @media only screen and (max-width: 480px) {
    body {
      left: 0;
      right: 0;
      top: 0; } }

/*# sourceMappingURL=index.css.map */
