@import "../variables";

.imageResBlock {

    //border:$tmc_default_border;
    //padding: $tmc_default_padding;;

    .image {

        position:relative;
        height:100%;
        width:100%;
        display:block;

    }

}