@import "../variables";

.responsiveText {

    display:block;
    border:$tmc_default_border;
    padding:$tmc_default_padding - 15px;
    height:auto;
    width: 500px;
    margin:0 auto;

    .pText {

        display: block;
        height:100%;
        width:100%;
        position:relative;

    }

    @media only screen and (max-width: 480px) {

        width:100%;
        height:300px;
        padding:0;
        margin:0;
        border:none;
        left:0;

        .pText {

            font-size: $tmc_resp_text_size;

        }

    }

}