@import "../variables";

.responsiveText {

    display:block;
    border:$tmc_default_border;
    height:400px;
    width: 500px;
    margin-top: 90px;

    .pText {

        display: block;
        height:100%;
        width:100%;
        position:relative;

    }

}