@import "../variables";

.slider-container {

    height: 450px;
    left:0;
    right:0;
    margin:0;
    padding:0;
    padding-top: 20px;
    //border:$tmc_default_border;
    border: 1px solid black;

    .theSlide {

        display:block;
        position:relative;
        width:50%;
        height: 400px;
        //margin-top: 40px;
        margin-left:25%;
        //border:$tmc_default_border;

        .image {

        position:relative;
        height:100%;
        width:100%;
        display:block;

        }

    }

    .bull_cont {

        display: inline-block;
        position: relative;
        //margin: 0 auto;
        padding: $tmc_default_padding - 15px;
        width: 100%;
        text-align: center;
        
    }

    .active {

        background:#717171;

    }

    @media only screen and (max-width: 480px) {

        height:250px;

        .theSlide {
            height:200px;
        }

        .bull_cont {
            position: relative;
            width:100%;
            text-align: center;
        }

    }

}