@import "../../variables";

.titlePresent {

    display:block;
    width: 100%;
    float:left;
    margin:0 auto;
    padding:0;
    background:$tmc_primary;
    color:white;
    text-align: center;

    .h1__title {

        text-align: center;
        text-transform: uppercase;
        color:$tmc_thirdly;

    }
    .pText {

        text-align:center;

    }

    @media only screen and (max-width: 480px) {

        .h1__title {

            font-size: 22px;

        }
        .pText {

            font-size: 16px;

        }
    }

}