@import "../variables";

.boutton__download {

    border: 0;
    border-radius: $tmc_default_btn_radius;
    background:$tmc_primary;
    //margin-top: 7px;
    padding: 10px;
    width: 200px;
    color: $tmc_thirdly;
    font-size:$tmc_text_size - 0px;
    text-decoration: none;

    &:hover {

        background:$tmc_fourthly;
        color: white;

    }

    i {

        color: white;

    }

}