@import "../variables";

.boutton__download {

    border: 0;
    border-radius: $tmc_default_btn_radius;
    background:$tmc_secondary;
    padding:$tmc_default_padding - 15px;
    color: $tmc_thirdly;
    font-size:$tmc_text_size - 5px;

    &:hover {

        background:$tmc_fourthly;

    }

}