@import "../../variables";

.entete {


    .container {

        .navbar-brand {

            font-weight: bold;
            color: $tmc_primary;
            text-transform: uppercase;
            font-size: 25px;
            letter-spacing: 2px;

            &:hover {

                color: $tmc_fourthly;

            }

        }

        div {

            .navbar-nav {

                a {

                    font-weight: bold;

                }

                .active > .nav-link , .nav-link.active, .nav-link.show, .show > .nav-link {

                    color: $tmc_thirdly

                }

                .link {

                    color: $tmc_thirdly;
                    padding: .2rem 1rem;

                    &:hover { 

                        color: gray;

                    }                    

                }

            }

        }

    }

    @media  only screen and (max-width: 820px){
        


    }

}

