@import "../../variables";

.entete {

    display:block;
    width:100%;
    height:auto;
    position:fixed;
    top:0;
    left:0;
    margin:0 auto;
    background:$tmc_secondary;
    border:1px solid $tmc_secondary;
    z-index: 100;

    .hMenu {    

        display:inline-block;

    }

}