// font family :

$tmc_family:'Source Sans Pro', sans-serif;

// colors :

$tmc_primary:#04BF37;
$tmc_secondary:#0B0C0C;
$tmc_thirdly:#FCFEFD;
$tmc_fourthly:#1CA6E1;
$tmc_font_color:white;
$tmc_border_color:black;

// height & width 
$tmc_icon_height:35px;
$tmc_icon_width:35px;

// font-size :
$tmc_title_size:50px;
$tmc_link_size:22px;
$tmc_text_size:22px;

// margin 
$tmc_default_margin:10px;

// padding : 
$tmc_default_padding:25px;
$tmc_link_btn_padding:30px;

// border-radius:
$tmc_default_border_radius: 50%;
$tmc_default_btn_radius:7px;

// border 
$tmc_default_border:2px solid $tmc_primary;