@import "./variables";
@import "./atomes/h1__title";
@import "./atomes/link";
@import "./atomes/icon";
@import "./atomes/hamburgerLine";
@import "./atomes/boutton";
@import "./atomes/circleImageContainer";
@import "./atomes/iconCircle";
@import "./atomes/image";
@import "./atomes/imageCircle";
@import "./atomes/line";
@import "./atomes/inputText";
@import "./atomes/textArea";
@import "./atomes/labelText";
@import "./atomes/pText";
@import "./molécules/hMenu";
@import "./molécules/hamburgerMenu";
@import "./molécules/flexContainer";
@import "./molécules/imageResBlock";
@import "./molécules/responsiveText";
@import "./molécules/slider-container";
@import "./atomes/theSlide";
@import "./atomes/dot";
@import "./organismes/footer/pageFooter";
@import "./organismes/sections/titlePresent";
@import "./organismes/header/entete";
@import "./organismes/sections/sliderSection";
@import "./organismes/sections/imageTextSection";
@import "./atomes/hLine";
@import "./molécules/iconCont";
@import "./atomes/boutton__download";
@import "./organismes/sections/hero-section";
@import "./organismes/sections/present-section";
@import "./atomes/h2__title";
@import "./atomes/bolder";
@import "./atomes/smallTxt";

body {

    font-family:'poppins';
    left:0;
    top:0;
    width:100%;
    margin:0;
    padding:0;


    .w-1000 {

        height: 100vh;

     }

    @media only screen and (max-width: 480px) {
        left:0;
        right:0;
        top:0;
    }

    @media only screen and (max-width:820px) {

        div,section {

            width: 100%;            

        }

    }

}
